* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  text-align: center;
}

#title {
  background-color: rgba(214, 221, 230, 255);
  color: rgba(4, 42, 97, 255);
  font-size: 1.4rem;
}

#presentation {
  background-color: rgba(239, 239, 239, 255);
}

main {
  background-color: (255, 255, 255, 255);
  margin: 1em 0.1em;
}

main h2,
footer h3 {
  color: rgba(0, 18, 71, 255);
}

.categoriesTitle {
  background-color: rgba(239, 239, 239, 255);
  width: 40%;
  text-align: center;
}

article {
  margin: 1.5em 0;
}

.categories {
  text-align: center;
  margin-left: 60em;
}

.category {
  color: rgba(42, 74, 112, 255);
}

.categories ul {
  text-align: center;
  list-style: none;
}

p {
  color: rgba(74, 91, 117, 255);
  margin: 0 10em;
}

footer {
  background-color: rgba(239, 239, 239, 255);
  color: rgba(116, 132, 158, 255);
  text-align: center;
}

footer i {
  color: rgba(0, 34, 83, 255);
}

footer a {
  color: rgba(116, 132, 158, 255);
}

form {
  padding: 0.9em;
}

fieldset {
  margin: 0 auto;
  width: 90%;
}
legend {
  margin: 1em 5em;
}
